
<a href=" <%=  @article.url %> " target="_blank" >

 <p class="bold_text">  <%= @article.title %> </a> </p>
<p><%= @article.summary %></p>
<p><%= raw @article.content %></p>
<p><%= @article.image %> </p>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="YaketyFeed" data-size="large" data-count="none" data-hashtags="YaketyFeed">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


 <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=235129946681549&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>


<p> <div class="fb-share-button" data-href=" <%=  @article.url %>" data-type="button"></div> </p>

<p><div class="g-plus" data-action="share" data-annotation="none" data-href=" <%=  @article.url %>" data-height="55"></div>
</p> 

<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id='fav-button'>
	<%= render 'favorite_form' %>
</div>

<div id='timeline-button'>
	<%= render 'timeline_form' %>
</div>

<a href="https://www.facebook.com/sharer/sharer.php?app_id=235129946681549&sdk=joey&u=<%= @article.url %>%26ns_source%3DPublicRSS20-sa&display=popup" target="_blank">test fb</a>

<a href="https://twitter.com/intent/tweet?hashtags=YaketyFeed&amp;original_referer=http%3A%2F%2Flocalhost%3A3000%2Farticles%2F<%= @article.id %>&amp;text=Rss&amp;tw_p=tweetbutton&amp;url=http%3A%2F%2Flocalhost%3A3000%2Farticles%<%= @article.id %>&amp;via=YaketyFeed" class="btn" id="b">  Tweet</a>


