<div class='article-header'>

<div id='published'>
  <%= @article.published %>
</div>

  <div id='fav-button'>
    <%= render 'favorite_form' %>
  </div>



  <div id='timeline-button'>
    <%= render 'timeline_form' %>
  </div>

</div> 

<div class='article-title'>
  <h1><a href=" <%=  @article.url %> " target="_blank" ><%= @article.title %></a></h1>
</div>

<div class='article-content'>
  <p><%= raw @article.summary %></p>
  <p><%= raw @article.content %></p>
  <p><%= raw @article.image %></p>

  <p class="audio_title"><%= raw @article.title %></p>

<% if @article.content && @article.content.end_with?(".mp3") %>

  <audio controls>
    <source src="<%= raw @article.content %>" type="audio/mpeg">
    <source src="<%= raw @article.content %>" type="audio/ogg">
    Your browser does not support the audio element.
  </audio>

<% end %>
  

  <video width="320" height="240" controls>
    <source src="<%= raw @article.image %>" type="video/mp4">
    <source src="<%= raw @article.image %>" type="video/ogg">
      Your browser does not support the video tag.
  </video>
  


</div>


  <div class="g-plus" data-action="share" data-annotation="none" data-href=" <%=  @article.url %>" data-height="55"></div>

 
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  </script>


<a href="https://www.facebook.com/sharer/sharer.php?app_id=235129946681549&sdk=joey&u=<%= @article.url %>%26ns_source%3DPublicRSS20-sa&display=popup" target="_blank"id="facebook_share" >
  </a>


<a href="https://twitter.com/intent/tweet?hashtags=YaketyFeed&amp;original_referer=http%3A%2F%2Flocalhost%3A3000%2Farticles%2F<%= @article.id %>&amp;text=Rss&amp;tw_p=tweetbutton&amp;url=http%3A%2F%2Flocalhost%3A3000%2Farticles<%= @article.id %>&amp;via=YaketyFeed" id="twitter_share">Tweet</a>




