
<% if @activities.length > 0 %>
  <div class='middle-title' id='activity-stream' data-since="<%= @activities.first.created_at.to_i %>" data-user="<%= current_user.id %>">Recent Activity</div>
<% end %>

<% @activities.each do |activity| %>
<div class='wide-display'>
	  <b><%= activity.owner.first_name %> <%= activity.owner.last_name %></b> has <b>added</b> an article to their <b>timeline</b>
	  
	  	<%= link_to article_path(activity.trackable), remote: true do %>
	  		<%= activity.trackable.title %>
	  	<% end %>
</div>
<% end %>

