<div class='middle-title' id='user-search'>Connect with other Yakety users</div>

	<% @users.each do |user| %>
		<div class='user-search'>
				<% unless user.id == current_user.id %>	

					<div class="userimage_all">
						<% if user.profile_picture_image.file %>
      				<%= image_tag user.profile_picture_image %>
    				<% elsif user.profile_image %>
      				<%= image_tag user.profile_image %>
    				<% else %>
      				<img src="/assets/mega-phone-white.png" >
    				<% end %> 
    			</div>


				<% if user.first_name.nil? || user.first_name == "" %>
					<p> <%= user.email %> </p>
				<% else %>
					<p><%= user.first_name %> <%= user.last_name %></p>
				<% end %>

			
				<% if current_user.following?(user) %>
					<%= link_to relationship_path(:id => user.id), method: :delete, remote: true do %>	
						<div class='unfollow-button'></div>
					<% end %>
				<% else %>	
					<%= link_to relationships_path(:id => user.id), :action => 'create', method: :post, remote: true do %>
						<div class='follow-button'></div>
					<% end %>
				<% end %>
			<% end %>


		</div>
	<% end %>
	




