  <% @user.feeds.includes(:subscriptions).where("subscriptions.category_id is Null").order("subscriptions.sort_order").each do | feed | %>

        <li id="feed_<%= feed.id %>"><%= link_to feed.title, feed_path(feed), remote: true %>                 
            <%= link_to subscription_path(find_subscription(feed,current_user)), method: :delete, class: "delete_icon", remote: true do %>
                <img src="/assets/delete.png" >
            <% end %>
        </li> 
      <% end %>

      <% @user.categories.each do |category| %>
        <% i = 1 %>
        <li class="menu-small-title categoryheader" id="feed_[category]<%= category.id %>" data-category="<%= category.id %>"> 
          <%= link_to category.category_name.capitalize, category_path(category), remote: true %>
            <%= link_to category_path(category), method: :delete, class: "delete_icon", remote: :true do %>
                <img src="/assets/delete.png" >
              <% end %>

          </li>
          <% @user.feeds.where("subscriptions.category_id = #{category.id}").order("subscriptions.sort_order").each do |feed|%>
              <li id="feed_<%= feed.id %>" class="category<%= category.id %>" data-category="<%= category.id %>"><%= link_to feed.title, feed_path(feed), remote: true, data: { color: i, feedId: feed.id } %>  
              <%= link_to subscription_path(find_subscription(feed,current_user)), method: :delete, class: "delete_icon", remote: :true do %>
                <img src="/assets/delete.png" >
              <% end %>
          </li> 
          <% end %>
        
        <% end %>
      