<<<<<<< HEAD
=======
<div class='middle-title' id='profile'>
<%= @user.first_name %> <%= @user.last_name %></div>
>>>>>>> 9261d4f58118634b61eaa8ea370b8f74472c522b

<p><div class="manage_account"><%= link_to "Manage your account", edit_user_registration_path %></div></p>

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for(@user) do |f| %>
    
    <p> <%= f.label :first_name %>   
   <%= f.text_field :first_name, :placeholder => "First Name" %></p>

    <p><%= f.label :last_name %>   
     <%= f.text_field :last_name, :placeholder => "Last Name" %></p>
     
    <p><%= f.text_area :bio, :rows => "13", :cols => "70", :placeholder => "Bio" %> </p>

    <%= f.label :profile_picture_image %><br />
    <%= f.file_field :profile_picture_image %>

      
      <%= f.submit %>
    </div>
  <% end %>


<% end %>
