<div class='middle-title' id='profile'>
<%= @user.first_name %> <%= @user.last_name %></div>
<p>Email: <%= @user.email %></p>
<p>Bio: <%= @user.bio %></p>

<p>Image: <%= @user.profile_image %></p>


</div>

