<ul>
  <li class="menu-title">Following</li>
</ul>

<input type='text' id='filter' placeholder='Search (start typing)'>

<% @following.each do |user| %>
 <ul id='following-list'>
 	<li><%= link_to "#{user.first_name} #{user.last_name}", timeline_user_path(user), remote: true %></li>
<% end %>
</ul>

   <%= search_form_for @q do |f| %>
      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
