<div class='middle-title' id='profile'>
<%= @user.first_name %> <%= @user.last_name %></div>




<p>Email: <%= @user.email %></p>

<p>Bio: <%= @user.bio %></p>

  <p>  <%= image_tag @user.profile_picture_image.url %> </p>



</div>

