<div class='middle-title' id='profile'>
  
<% if @user.first_name == "" || @user.first_name.nil? %>
  
  User

<% else %>
    <%= @user.first_name %> <%= @user.last_name %>
  <% end %>
</div>
<% if @user.profile_picture_image.file %>
    <div class='profile-picture'><%= image_tag @user.profile_picture_image %></div>
<% elsif @user.profile_image %>
    <div class='profile-picture'><%= image_tag @user.profile_image %></div>
  <% else %>
      <div class='profile-picture'> <img src="/assets/mega-phone-white.png" ></div>
  <% end %> 

  <div class='bio'><%= @user.bio %></div>


  <div class='stats'><%= render '/shared/stats' %></div>

  <%= render '/shared/followed' %>
  <%= render '/shared/followers' %>

  <h2>Your Categories</h2>
  <% @user.categories.each do |category| %>

  	<% if category.cover_image %>	
  			<%= link_to category_path(category), remote: true do %>
            <img class='category-box' src="<%= category.cover_image %>" >
        <%= category.category_name.capitalize %>
  			<% end %>
  	<% else %>	
  			<%= link_to category_path(category), remote: true do %>
  			<div class='category-box category-box-background'></div><%= category.category_name.capitalize %>
  			<% end %>
  		<% end %>

  <% end %>
</div>

