<% if @user.nil? %>
	<a href="../feeds/update/send_xml/?id=<%= current_user.id %>" target="_blank"><div class="middle-title">Timeline</div></a>
<% else %>
	<a href="../feeds/update/send_xml/?id=<%= @user.id %>" target="_blank"><div class="middle-title">Timeline</div></a>
<% end %>


<% @articles.each do |article| %>
	<div class='wide-display'>
		<%= link_to article_path(article), remote: true do %>
		      <%= article.title %>
		<% end %>
		<div id='feed-source'>
		<%= link_to feed_path(article.feed_id), remote: true do %>
		      <%= article.feed.title %>
		<% end %>
		</div>
	</div>
<% end %>