<div id='left-menu' >
  <div class="menu-section">
  <ul>
   <li><%= link_to "Home", user_path(@user) %></li>	
	 <li><%= link_to "Your Timeline", timeline_user_path(@user), remote: true %></li>
	 <li><%= link_to "Your Favourites", favorites_user_path(@user), remote: true %></li>
	 <li>Unread</li>
  </ul>
	 </div>
  <ul>
    
      <li>
           <!-- link_to 'Manage Feeds', feeds_path, remote: true, id: "manage_feeds" -->
    </li>
 
  
	 
   <ul id="feeds-menu">

  <div class="menu-section">
      <div class="menu-title">Your Feeds</div>
    <ul>
    <li><%= link_to "Home", user_path(@user) %></li>	
	 <li><%= link_to "Your Timeline", timeline_user_path(@user ), remote: true %></li>
	 <li><%= link_to "Your Favourites", favorites_user_path(@user), remote: true %></li>
	   <li><a href="#">Unread</a></li>
    </ul>
  </div>
  
  <div class="menu-section">
    <ul>
      <li class="menu-title">Your Feeds</li>
      <li>
      <%= link_to 'Manage Feeds', feeds_path, remote: true,   id: "manage_feeds" %>
      </li>  
    </ul>
	  <ul id="feeds-menu">

      <% @user.feeds.includes(:subscriptions).where("subscriptions.category_id is Null").order("subscriptions.sort_order").each do | feed | %>

		    <li id="feed_<%= feed.id %>"><%= link_to feed.title, feed_path(feed), remote: true %>                 
            <%= link_to subscription_path(find_subscription(feed,current_user)), method: :delete, id: "delete_icon" do %>
                <img src="/assets/delete.png" >
            <% end %>
        </li> 
      <% end %>

      <% @user.categories.each do |category| %>
        <li class="menu-title" id="feed_[category]<%= category.id %>">
          <a href="#"><%= category.category_name %></a> </li>
          <% @user.feeds.where("subscriptions.category_id = #{category.id}").each do |feed|%>
              <li id="feed_<%= feed.id %>"><%= link_to feed.title, feed_path(feed), remote: true %>  
              <%= link_to subscription_path(find_subscription(feed,current_user)), method: :delete, id: "delete_icon" do %>
                <img src="/assets/delete.png" >
              <% end %>
          </li> 
          <% end %>
        
        <% end %>
      
  </ul>


    </div>

  <div class="menu-section">
	   <%= render 'users' %>
     <%= link_to 'Find People', users_path, remote: true %>
  </div>

    <%= form_tag("/categories", method: "post") do %>
      <%= label_tag(:category_name, "New category:") %>
      <%= text_field_tag(:category_name) %>
      <%= submit_tag("Add") %>
    <% end %>

   

   
  
 


</div><div id='middle-menu'>
  <%= render 'activities' %>
</div><div id='right-menu'>
    
</div>