<div id='left-menu' >
  <ul>
  	 <li>Home</li>	
	 <li><%= link_to "Your Timeline", timeline_user_path(@user), remote: true %></li>
	 <li><%= link_to "Your Favourites", favorites_user_path(@user), remote: true %></li>
	 <li>Unread</li>
  </ul>
	
  Your Feeds

	 <ul id="feeds-menu">
      <li><%= link_to 'Manage Feeds', feeds_path, remote: true %></li>
      <% @user.feeds.each do | feed | %>
		    <li><%= link_to feed.title, feed_path(feed), remote: true %>
            <%= link_to 'X', subscription_path(find_subscription(feed,current_user)), method: :delete %>
        </li> 
      <% end %>
  </ul>

	
</div>

<div id='middle-menu'>

</div>

<div id='right-menu'>

</div>