<div id='left-menu' >
  <ul>
  	 <li>Home</li>	
	 <li><%= link_to "Your Timeline", timeline_user_path(@user), remote: true %></li>
	 <li><%= link_to "Your Favourites", favorites_user_path(@user), remote: true %></li>
	 <li>Unread</li>
  </ul>
	 
  <ul>
    
  <li>
   <%= link_to 'Manage Feeds', feeds_path, remote: true, id: "manage_feeds" %>
 </li>
 <li>
  Your Feeds</li>
	 
   <ul id="feeds-menu">
      <% @user.feeds.includes(:subscriptions).order("subscriptions.sort_order").each do | feed | %>


		    <li id="feed_<%= feed.id %>"><%= link_to feed.title, feed_path(feed), remote: true %>

                 
            <%= link_to subscription_path(find_subscription(feed,current_user)), method: :delete do %>

              <div id="delete_icon"></div>
              <% end %>
        </li> 
        
      <% end %>
  </ul>

	<%= render 'users' %>

</div>

<div id='middle-menu'>
  <%= render 'activities' %>
</div>

<div id='right-menu'>

</div>