<h1><%= @user.first_name %>'s Profile</h1>
     
<%= render 'shared/stats' %>
    
<%= render 'follow_form' %>

<h2>Subscriptions</h2>
<% @user.feeds.each do | feed | %>
	<p><%= feed.title %></p>
<% end %>

<h1><%= link_to "Favorites", favorites_user_path(@user) %></h1>

<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "update articles", feeds_update_articles_path %>
<%= link_to "update articles ajax", feeds_update_articles_path, remote: true %>

<div id="articles">
  <%= render partial: 'articles' %>
<div>
