<div id='left-menu' >
  <div class="menu-section">
  <ul>
   <li><%= link_to "Home", root_path %></li>	
	 <li><%= link_to "Your Timeline", timeline_user_path(current_user), remote: true %></li>
	 <li><%= link_to "Your Favourites", favorites_user_path(current_user), remote: true %></li>
  </ul>
	 </div>
  <ul>
    
      <li>
           
    </li>
 
  
	 
   <div class="menu-section">
      <%= link_to 'Your Feeds', feeds_path, remote: true, id: "manage_feeds", class: "menu-title" %>
      
      <ul id="feeds-menu">
        <%= render 'feeds_menu' %>
      </ul>


    </div>

  <div class="menu-section">
	   <%= render 'users' %>

  </div>


</div><div id='middle-menu'>
  
  <% if @activities.length > 0 %>
      <%= render 'activities' %>
  <% else %> 
      <%= render '/feeds/feed_url' %>
      <%= render '/feeds/feeds' %>
      
   <% end %>  

</div><div id='right-menu'>
  <%= render 'userprofile' %>
</div>




