<div id='left-menu' >
  <div class="menu-section">
  <ul>
   <li><%= link_to "Home", user_path(@user) %></li>	
	 <li><%= link_to "Your Timeline", timeline_user_path(@user), remote: true %></li>
	 <li><%= link_to "Your Favourites", favorites_user_path(@user), remote: true %></li>
	 <li>Unread</li>
  </ul>
	 </div>
  <ul>
    
      <li>
           
    </li>
 
  
	 
   <div class="menu-section">
      <%= link_to 'Your Feeds', feeds_path, remote: true, id: "manage_feeds", class: "menu-title" %>
      
      <ul id="feeds-menu">
        
   



      <% @user.feeds.includes(:subscriptions).where("subscriptions.category_id is Null").order("subscriptions.sort_order").each do | feed | %>

		    <li id="feed_<%= feed.id %>"><%= link_to feed.title, feed_path(feed), remote: true %>                 
            <%= link_to subscription_path(find_subscription(feed,current_user)), method: :delete, id: "delete_icon" do %>
                <img src="/assets/delete.png" >
            <% end %>
        </li> 
      <% end %>

      <% @user.categories.each do |category| %>
        <li class="menu-small-title" id="feed_[category]<%= category.id %>">
          <a href="#"><%= category.category_name.capitalize %></a> </li>
          <% @user.feeds.where("subscriptions.category_id = #{category.id}").each do |feed|%>
              <li id="feed_<%= feed.id %>"><%= link_to feed.title, feed_path(feed), remote: true %>  
              <%= link_to subscription_path(find_subscription(feed,current_user)), method: :delete, id: "delete_icon" do %>
                <img src="/assets/delete.png" >
              <% end %>
          </li> 
          <% end %>
        
        <% end %>
      
  </ul>


    </div>

  <div class="menu-section">
	   <%= render 'users' %>
  </div>

   

   

   
  
 


</div><div id='middle-menu'>
  <%= render 'activities' %>
</div><div id='right-menu'>
    
</div>