<div id='left-menu'>
  <ul>
	 <li><%= link_to "Timeline", timeline_user_path(@user) %></li>
	 <li><%= link_to "Favourites", favorites_user_path(@user) %></li>
	 <li>Unread</li>
  </ul>
	
  Your Feeds

	 <ul>
      <li><%= link_to 'Manage Feeds', users_path %></li>
      <% @user.feeds.each do | feed | %>
		    <li><%= link_to feed.title, feed_path(feed), remote: true %></li> 
      <% end %>
  </ul>

	<%= link_to "update articles", feeds_update_articles_path %>
	<%= link_to "update articles ajax", feeds_update_articles_path, remote: true %>
</div>

<div id='middle-menu'>

</div>

<div id='right-menu'>

</div>