<!DOCTYPE html>
<html>
<head>
  <title>Rss</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=235129946681549&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

  <div class="login">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
    <% else %>
      <%= render partial: 'layouts/signin' %>
    <% end %>
  </div>
    
    <%= link_to "update articles", feeds_update_articles_path %>
    <%= link_to "update articles ajax", feeds_update_articles_path, remote: true %>

  <% if user_signed_in? %>
    <%= link_to "Add a feed", users_path %>
    <%= link_to "user page", user_path(current_user) %>
  <% end %> 

  <p class="alert"><%= alert %></p>

  <%= yield %>


  <%= render partial: 'layouts/socialmedia' %>

    

</body>
</html>
