<!DOCTYPE html>
<html>
<head>
  <title>Yakety Feeds</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
 
  
</head>
<body>
 

<header>

  <div class="login">
   

    <% if @user.profile_picture_image.file %>
        <%= image_tag @user.profile_picture_image %>
    <% elsif @user.profile_image %>
      <%= image_tag @user.profile_image %>
    <% else %>
      <img src="/assets/mega-phone-white.png" >
    <% end %> 

    <% if user_signed_in? %>
      Hello <%= current_user.first_name %>. 

      <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
       

    <% else %>
      <%= render partial: 'layouts/signin' %>
    <% end %>
  </div>

  <div class="login" id="login-right">
      
      <!-- link_to "update articles ajax", feeds_update_articles_path, remote: true  -->
      <a id="bookmarklet" href="<%= $bookmarklet %>">Find Feeds</a>

      <%= link_to edit_user_path(current_user), remote: true do %>
      <div class="settings"> </div>
      <% end %>



  </div>
    
   <%= link_to  root_path do %> 
   <div class="small_logo"> </div>
   <% end %>

  

  <p class="alert"><%= alert %></p>

</header>

  <%= yield %>

  <div class="social-media">
  <%= render partial: 'layouts/socialmedia' %>
  </div>  

</body>
</html>
